/************************************************************
Standard 960px 12 Columnas
*************************************************************/
.container{width: 960px; margin: 0 auto; overflow: hidden;}
.row{width: 100%;}

.g1, .g2, .g3, .g4, .g5, .g6, .g7, .g8, .g9, .g10, .g11,.g12 {
  display: inline; float: left; padding: 0 10px;}

.container .g1{width: 60px;}
.container .g2{width: 140px;}
.container .g3{width: 220px;}
.container .g4{width: 300px;}
.container .g5{width: 380px;}
.container .g6{width: 460px;}
.container .g7{width: 540px;}
.container .g8{width: 620px;}
.container .g9{width: 700px;}
.container .g10{width: 780px;}
.container .g11{width: 860px;}
.container .g12{width: 940px;}

.container .prefix_1{padding-left: 80px;}
.container .prefix_2{padding-left: 160px;}
.container .prefix_3{padding-left: 240px;}
.container .prefix_4{padding-left: 320px;}
.container .prefix_5{padding-left: 400px;}
.container .prefix_6{padding-left: 480px;}
.container .prefix_7{padding-left: 560px;}
.container .prefix_8{padding-left: 640px;}
.container .prefix_9{padding-left: 720px;}
.container .prefix_10{padding-left: 800px;}
.container .prefix_11{padding-left: 880px;}

.container .suffix_1{padding-right: 80px;}
.container .suffix_2{padding-right: 160px;}
.container .suffix_3{padding-right: 240px;}
.container .suffix_4{padding-right: 320px;}
.container .suffix_5{padding-right: 400px;}
.container .suffix_6{padding-right: 480px;}
.container .suffix_7{padding-right: 560px;}
.container .suffix_8{padding-right: 640px;}
.container .suffix_9{padding-right: 720px;}
.container .suffix_10{padding-right: 800px;}
.container .suffix_11{padding-right: 880px;}

.alpha{padding-left: 0;}
.omega{padding-right: 0;}

/************************************************************
Grid 720px 12 Columnas
*************************************************************/
@media only screen and (max-width: 959px){

	.container{width:720px; margin:0 auto;}
	.row{width:100%;}

	.container .g1{width: 40px;}
	.container .g2{width: 100px;}
	.container .g3{width: 160px;}
	.container .g4{width: 220px;}
	.container .g5{width: 280px;}
	.container .g6{width: 340px;}
	.container .g7{width: 400px;}
	.container .g8{width: 460px;}
	.container .g9{width: 520px;}
	.container .g10{width: 580px;}
	.container .g11{width: 640px;}
	.container .g12{width: 700px;}

	.container .prefix_1{padding-left: 60px;}
	.container .prefix_2{padding-left: 120px;}
	.container .prefix_3{padding-left: 180px;}
	.container .prefix_4{padding-left: 240px;}
	.container .prefix_5{padding-left: 300px;}
	.container .prefix_6{padding-left: 360px;}
	.container .prefix_7{padding-left: 420px;}
	.container .prefix_8{padding-left: 480px;}
	.container .prefix_9{padding-left: 540px;}
	.container .prefix_10{padding-left: 600px;}
	.container .prefix_11{padding-left: 660px;}

	.container .suffix_1{padding-right: 60px;}
	.container .suffix_2{padding-right: 120px;}
	.container .suffix_3{padding-right: 180px;}
	.container .suffix_4{padding-right: 240px;}
	.container .suffix_5{padding-right: 300px;}
	.container .suffix_6{padding-right: 360px;}
	.container .suffix_7{padding-right: 420px;}
	.container .suffix_8{padding-right: 480px;}
	.container .suffix_9{padding-right: 540px;}
	.container .suffix_10{padding-right: 600px;}
	.container .suffix_11{padding-right: 660px;}
}

/* Mobile */

@media only screen and (max-width: 750px) {

	.container{width:auto; max-width:480px; margin:0 auto; padding: 0;}
	.row{width:100%;}
	
	.row .g1, .row .g2, .row .g3, .row .g4, .row .g5, .row .g6, .row .g7, .row .g8, .row .g9,
	.row .g10, .row .g11, .row .g12 {
		float: none;
		margin: 0;
		display:block;
		padding:0 2%;
		width:96%;
	}

	.container .prefix_1,
	.container .prefix_2,
	.container .prefix_3,
	.container .prefix_4,
	.container .prefix_5,
	.container .prefix_6,
	.container .prefix_7,
	.container .prefix_8,
	.container .prefix_9,
	.container .prefix_10,
	.container .prefix_11,
	.container .suffix_1,
	.container .suffix_2,
	.container .suffix_3,
	.container .suffix_4,
	.container .suffix_5,
	.container .suffix_6,
	.container .suffix_7,
	.container .suffix_8,
	.container .suffix_9,
	.container .suffix_10,
	.container .suffix_11{padding: 0px 2%;}
}

/*******************
Clear
*******************/
.container:after {content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; } 
.row:before, .row:after{content:'\0020'; display:block; overflow:hidden; visibility:hidden; width:0; height:0;}
.row:after{clear:both;}
.row{zoom:1; }
.clear{clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0;}